*.o
.deps
.libs
Makefile
Makefile.in

/ABOUT-NLS
/INSTALL
/aclocal.m4
/autom4te.cache
/config.guess
/config.log
/config.h
/config.h.in
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/mkinstalldirs
/stamp-h1

/nano.spec
/src/nano
