# Sample initialization file for GNU nano
# Please note that you must have configured nano with 
# --enable-nanorc for this file to be read!
#
# To make sure a value is not enabled, use "unset <option>"

# Use regular expressions by default 
# set regexp 

# Constantly update the cursor position
# set const

# Show column position relative to the current line, not the whole file
# set relative

# Use cut to end of line with ^K by default
# set cut

# Use Auto-indentation
# set autoindent

# Don't follow symlinks when writing files
# set nofollow

# Set operating directory (chroot of sorts)
# set operatingdir "~"

# Use Pico Compatibility mode for the shortcut lists and search text
# set pico

# Use this value instead of the default
# set fill -8

# Use this tab size instead of the default
# set tabsize 4

# Use this spelling checker instead of the default one
# set speller aspell

# Save automatically on exit, don't prompt
# set tempfile

# Disallow file modification, why would you want this in an rc file? ;)
# set view

# Don't wrap text at all
# set nowrap

# Don't display the help lists at the bottom of the screen
# set nohelp

# Allow nano to be suspended with ^Z
# set suspend

# Use smooth scrolling as the default
# set smooth

# Use alternate keypad routines
# set keypad

# Don't convert files from DOS/Mac format
# set noconvert

# Allow multiple file buffers (using ^R inserts into separate buffer)
# You must have configured with --enable-multibuffer or --enable-extra for
# this to work
#
# set multibuffer

# Use this as the quoting string.  You shouldn't need to change this,
# but...... default "> "
# set quotestr "// "

#
# Color setup
# Format: 
# syntax "short description" ["filename regex" ...]
# color foreground,background "regex" ["regex"...]
#
# Legal colors are: white, black, red, blue, green, yellow, purple, cyan
# You may use the prefix "bright" to mean a stronger color highlight
#
# To use multi-line regexes use the start="regex" end="regex" format.
#
# If your system supports transparency, not specifying a background
# color will use a transparent color.  If you don't want this, be sure
# to set the background color to black or white.
#
# syntax "c-file" ".*\.c" ".*\.h"
# color brightred "float " "char " "int " "void "  "NULL" "[A-Z_]\{2,\}" 
# color brightred "static" "const" "[\ ]struct" "^struct" "if " "while[\ \n\(]" 
# color brightred "do[\ \n\(]" "else[\ \n]" "case " "switch " "break;"
# color brightcyan "#define" "#include" "#ifn*def" "#endif" "#elif" "#else" "#if "

# You will in general want your comments and strings to come last, becase
# syntax highlighting rules will be applied in the order they are read in

# color brightyellow "<.*[^=\ ]*>" "\".*\""
# color brightblue "//.*"
# color brightblue start="/\*.*" end="\*/"

# For this you will probably want to set your editor to "nano -Y mutt"
#
# syntax "mutt"
# color green "^>.*"

